body{
	background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.s_expanded {
	top: 420px;
}

.s_collapsed {
	max-height: 30px; /* 컨텐츠가 접혔을 때의 최대 높이 */
	padding: 20px 0; /* 접혔을 때 상단 패딩 유지 */
	top: 733px;
}

.s_icon3-expanded {
	/* 펼쳐졌을 때의 아이콘 위치 */
	top: 0px;
}
.s_icon3-collapsed {
	top: 0px; /* 예시 값, 실제 필요에 따라 조정 */
}

.start_expanded_content{
	position: absolute;
	/* top: 420px; */
	bottom: 0;
	width: 390px;
	height: 380px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: white;
	border-radius: 8px;
	/* transition: max-height 0.5s ease-out, padding 0.5s ease-out; */
}

.Start_container{
    background-color:rgba(255, 255, 255, 1);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
	width:390px;
	height:100%;
    min-height: 800px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	position:relative;
}

.close-button {
    position: absolute;
    left: 12px;
    top: 17px;
    font-size: 15px;
    font-family: Noto Sans;
    font-weight: bold;
    color: #7ca0c1;
    white-space: nowrap;
}

.e118_456 { 
	width:32px;
	height:31px;
	position:absolute;
	left:346px;
	top:10px;
}
.MapStyle_start{
	width:390px;
	height:751px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}


.e118_443 { 
	width:390px;
	height:751px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.start_label_distance { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:33px;
	height:19px;
	position:absolute;
	left:72px;
	top:50px;
	font-family:Noto Sans KR;
	font-weight: 700;
	font-size:16px;
}
.start_label_time { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:41px;
	height:21px;
	position:absolute;
	left:272px;
	top:50px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.start_value_distance { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:77px;
	height:49px;
	position:absolute;
	left:50px;
	top:85px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.start_value_time { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:135px;
	height:49px;
	position:absolute;
	left:222px;
	top:85px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}




.icon3 {
    position: absolute;
    left: 170px;
    width: 50px;
    height: 40px;
    z-index: 150;
    cursor: pointer;
}

.pause_button { 
	width:95px;
	height:95px;
	position:absolute;
	left:151px;
	bottom: 78px;
}
.button_circle { 
	border-radius:500px;
	background-color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	width:95px;
	height:95px;
	position:absolute;
	left:-3px;
	top:0px;
}
.button_bar1 { 
	background-color:rgba(255, 255, 255, 1);
	width:7px;
	height:34px;
	position:absolute;
	left:31px;
	top:31px;
}
.button_bar2 { 
	background-color:rgba(255, 255, 255, 1);
	width:7px;
	height:34px;
	position:absolute;
	left:52px;
	top:31px;
}


