body{
	background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.Unfinished_route_container { 
	overflow: hidden;
    background-color:rgba(255, 255, 255, 1);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
	width:390px;
	height:100%;
    min-height: 800px;
	position:relative;
}

.Unfinished_back_arrow { 
	
	width:26px;
	height:19.8px;
	position:absolute;
	left:6.5px;
	top:7px;
}

.e118_348 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:112px;
	position:absolute;
	left:0px;
	top:67px;
}
.e118_349 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:104px;
	height:25px;
	position:absolute;
	left:147px;
	top:29px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e118_350 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:126px;
	height:15px;
	position:absolute;
	left:10px;
	top:77px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e118_351 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:44px;
	height:23px;
	position:absolute;
	left:12px;
	top:142px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e118_352 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:75px;
	height:23px;
	position:absolute;
	left:117px;
	top:142px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e118_353 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:75px;
	height:23px;
	position:absolute;
	left:219px;
	top:142px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e118_354 { 
	color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:84px;
	height:15px;
	position:absolute;
	left:9px;
	top:108px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e118_355 { 
	color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:48px;
	height:15px;
	position:absolute;
	left:117px;
	top:108px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e118_356 { 
	color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:48px;
	height:15px;
	position:absolute;
	left:219px;
	top:108px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e118_357 { 
	transform: rotate(90deg);
	width:55px;
	height:0px;
	position:absolute;
	left:99.49990844726562px;
	top:107.995361328125px;
}
.e118_357 { 
	border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}
.e118_358 { 
	transform: rotate(90deg);
	width:55px;
	height:0px;
	position:absolute;
	left:201.49990844726562px;
	top:106.995361328125px;
}
.e118_358 { 
	border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}

.e236_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:368px;
	height:148px;
	position:absolute;
	left:12px;
	top:197px;
}
.e118_361 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:174px;
	top:122px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e118_362 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
}
.e118_363 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:172px;
	top:58px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e118_364 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:175px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e118_365 { 
	width:100px;
	height:97px;
	position:absolute;
	left:16px;
	top:26px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e118_366 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:16.78125px;
	height:22.39583396911621px;
	position:absolute;
	left:147px;
	top:49px;
}
.e118_367 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:21px;
	position:absolute;
	left:149px;
	top:15px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e118_368 { 
	width:22px;
	height:22px;
	position:absolute;
	left:146px;
	top:84px;
}
.e118_369 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:19.25px;
	height:19.25px;
	position:absolute;
	left:1.375px;
	top:1.375px;
}
.e118_370 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:1.375px;
	height:6.875px;
	position:absolute;
	left:9.625px;
	top:5.5px;
}
.e118_371 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:6.875px;
	height:1.375px;
	position:absolute;
	left:9.625px;
	top:11px;
}
.e118_372 { 
	width:22px;
	height:22px;
	position:absolute;
	left:146px;
	top:115px;
}
.e118_373 { 
	width:11px;
	height:18.33333396911621px;
	position:absolute;
	left:5.5px;
	top:1.8333333730697632px;
}
.e118_374 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:1.8333333730697632px;
	height:1.8333333730697632px;
	position:absolute;
	left:4.583333492279053px;
	top:3.6666665077209473px;
}
.e118_375 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:11px;
	height:18.33333396911621px;
	position:absolute;
	left:0px;
	top:0px;
}
.e236_6 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:175px;
	top:122px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e236_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:368px;
	height:148px;
	position:absolute;
	left:12px;
	top:351px;
}
.e236_9 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:174px;
	top:122px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e236_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
}
.e236_11 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:172px;
	top:58px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e236_12 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:175px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e236_13 { 
	width:100px;
	height:97px;
	position:absolute;
	left:16px;
	top:26px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_14 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:16.78125px;
	height:22.39583396911621px;
	position:absolute;
	left:147px;
	top:49px;
}
.e236_15 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:21px;
	position:absolute;
	left:149px;
	top:15px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e236_16 { 
	width:22px;
	height:22px;
	position:absolute;
	left:146px;
	top:84px;
}
.e236_17 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:19.25px;
	height:19.25px;
	position:absolute;
	left:1.375px;
	top:1.375px;
}
.e236_18 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:1.375px;
	height:6.875px;
	position:absolute;
	left:9.625px;
	top:5.5px;
}
.e236_19 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:6.875px;
	height:1.375px;
	position:absolute;
	left:9.625px;
	top:11px;
}
.e236_20 { 
	width:22px;
	height:22px;
	position:absolute;
	left:146px;
	top:115px;
}
.e236_21 { 
	width:11px;
	height:18.33333396911621px;
	position:absolute;
	left:5.5px;
	top:1.8333333730697632px;
}
.e236_22 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:1.8333333730697632px;
	height:1.8333333730697632px;
	position:absolute;
	left:4.583333492279053px;
	top:3.6666665077209473px;
}
.e236_23 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:11px;
	height:18.33333396911621px;
	position:absolute;
	left:0px;
	top:0px;
}
.e236_24 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:47px;
	height:22px;
	position:absolute;
	left:175px;
	top:122px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e118_424 { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:390px;
	height:0px;
	position:absolute;
	left:1px;
	top:180px;
}
.e118_424 { 
	border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}
.e236_59 { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:390px;
	height:0px;
	position:absolute;
	left:1px;
	top:67px;
}
.e236_59 { 
	border:0.5px solid red;
    z-index: 10;
}
