<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="static/css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
  <div class="login-container">
    <form class="login-form" method="POST" action="/">
      <!-- <div><img src="/src/logo.png" width="150" alt="logo"></div> -->
      <h1>로그인</h1>
      <div class="input-group">
        <label for="username">아이디</label>
        <input type="text" id="username" name="username" required autocomplete="off">
      </div>
      <div class="input-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" required autocomplete="off">
      </div>
      <button type="submit">Login</button>
    </form><br><br>

    <h5>아직 회원이 아니신가요?</h5>
    <a href="/join"><button id="join">회원가입</button></a>
    <a href="/naverlogin">네이버</a>
    <input type="button" id="kakao" value="카카오">
    <a href="/googlelogin">구글</a>
    <input type="button" value="login" id="login" />
  </div>
    <script>
        const supabaseUrl = 'https://rbdbdnushdupstmiydea.supabase.co';
        const supabaseAnonKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJiZGJkbnVzaGR1cHN0bWl5ZGVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTI3OTk1MzksImV4cCI6MjAyODM3NTUzOX0.SGk5FLipOul5nJ4O_6w2ibFmMZrGz_iLgLYzFmXwBU8';
        
        const client = supabase.createClient(supabaseUrl, supabaseAnonKey);
        async function signInWithKakao() {
          const { data, error } = await client.auth.signInWithOAuth({
            provider: 'kakao',
            options: {
            redirectTo:'http://localhost:3000/mypage'
            }
          })
          console.log(supabaseAnonKey)
          console.log(1)
        }
        document.querySelector("#kakao").addEventListener("click", signInWithKakao);

    </script>
</body>

</html>