body{
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
		/* height: auto; */
}

.saved_background { 
	min-height: 850px;
	box-shadow: 0px 10px 15px #00000040;
	top: 0px;
	background-color:#ffffff;
	width:390px;
	height:100vh;
	position:relative;
	padding-bottom: 50px;
}


.saved_back { 
	width:25px;
	height:25px;
	position:absolute;
	left:6px;
	top:10px;
}

.saved_back_icon { 
  filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:25px;
	height:25px;
	position:absolute;
	left:2.098771095275879px;
	top:5px;
}


.saved_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	height:25px;
	position:absolute;
	left:50%;
	transform: translate(-50%, -0%);
	top:10px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: 600;
}

.saved_line { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:100%;
	height:0px;
	position:absolute;
	left:0px;
	top:50px;
	border:0.1px solid #bfbfbf;
}

.blocked_user_box { 
	width:391px;
	height:72px;
	position:relative;
	top:50px;
}

.blocked_user_profile { 
	border-radius:500px;
	width:45px;
	height:45px;
	position:relative;
	left:16px;
	top:15px;
	background-repeat:no-repeat;
	background-size:cover;
}

.blocked_user_text { 
	width:198px;
	height:42px;
	position:relative;
	left:73px;
	top:-32px;
}

.blocked_user_id { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:200px;
	position:absolute;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	font-weight: 600;
}

.blocked_user_name { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:200px;
	height:21px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}

.blocked_user_line { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:390px;
	height:0px;
	position:absolute;
	left:1px;
	top:72px;
    border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}

.blocked_button {
	color: white;
	width: 80px;
	height: 30px;
	position: relative;
	left: 280px;
	top: -65px;
	border: none;
	border-radius: 5px;
	font-family: Noto Sans KR;
	font-size: 12px;
	cursor: pointer;
}

.blocked_button.blocked {
	background-color: gray;
}

.blocked_button.unblocked {
	background-color: rgb(213, 77, 77);
}
