body{
	background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.g_activity_save_container {
    background-color:rgba(255, 255, 255, 1);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
	width:390px;
	height:auto;
    min-height: 1000px;
	position:relative;
}
.g_activity_save_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:80px;
	height:24px;
	position:absolute;
	left:155px;
	top:10px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:20px;
	font-weight: 600;
	letter-spacing:0;
}
.g_activity_save_remove_button { 
	border: none;
	background-color: transparent;
	color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	padding: 0;
	width:46px;
	height:23px;
	position:absolute;
	left:345px;
	top:15px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	font-weight: 600;
	letter-spacing:4;
	cursor: pointer;
}
.g_e298_23 { 
	width:390px;
	height:391px;
	position:absolute;
	left:0px;
	top:58px;
}
.g_activity_save_record_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:126px;
	height:15px;
	position:absolute;
	left:15px;
	top:459px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	font-weight: 800;
	letter-spacing:0;
}
.g_activity_save_distance_label { 
	color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:60px;
	height:15px;
	position:absolute;
	left:15px;
	top:489px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	font-weight: 700;
	letter-spacing:0;
}
.g_activity_save_distance_value { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:85px;
	height:23px;
	position:absolute;
	left:15px;
	top:515px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.g_activiity_save_label_divide_line { 
	transform: rotate(90deg);
	width:56px;
	height:0px;
	position:absolute;
	left:72px;
	top:520px;
    border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}
.g_activity_save_time_label { 
	color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:60px;
	height:15px;
	position:absolute;
	left:115px;
	top:489px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	font-weight: 700;
	letter-spacing:0;
}
.g_activity_save_time_value { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:110px;
	height:23px;
	position:absolute;
	left:115px;
	top:515px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.g_activity_save_line1 { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:370px;
	height:0px;
	position:absolute;
	left:10px;
	top:559px;
    border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}

.g_Unfinished_SaveRoute_button { 
	background-color:rgb(183, 202, 220);
	color: white;
	font-size: 19px;
	font-weight: 700;
	font-family: Noto Sans KR;
	letter-spacing: 3px;
	width:323px;
	height:53px;
	position:absolute;
	left:34px;
	top:640px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border: none;
	cursor: pointer;
}

.g_Finished_SaveRoute_button { 
	background-color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	color: white;
	font-size: 19px;
	font-weight: 700;
	font-family: Noto Sans KR;
	letter-spacing: 3px;
	width:323px;
	height:53px;
	position:absolute;
	left:34px;
	top:710px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border: none;
	cursor: pointer;
}
