body{
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
		/* height: auto; */
}

.mypage_background { 
	margin-top: 0px;
	min-height: 1050px;
	height: 100vh;
	box-shadow: 0px 10px 15px #00000040;
	top: 0px;
	background-color:#ffffff;
	width:390px;
	position:relative;
	padding-bottom: 50px;
	overflow-y: auto;
	overflow-x: hidden;
}

.background::-webkit-scrollbar {
	display: none; /* 기본 스크롤 막대 숨기기 */
}

/* 가상 요소를 사용하여 스크롤 막대 대체하기 */
.background::after {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	width: 10px; /* 스크롤 막대 너비 조절 */
	height: 100%;
	background: linear-gradient(to right, transparent, #ffffff); /* 스크롤 막대 색상 설정 */
	z-index: 9999; /* 다른 요소 위로 표시 */
}

.mynav{
	background-color: white;
	width: 390px;
	height: 50px;
	position: fixed;
	top: 0px;
	z-index: 1;
}

.reward_icon{
	width: 21px;
	height: 28px;
	position: absolute;
	top: 9px;
	left: 15px;
}

.tot_point{
	position: absolute;
	top: 12px;
	left: 43px;
	font-size: 16px;
	font-family: Noto sans KR;
	font-weight: 600;
	color: #B8997C;
}

.user_id { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	position:absolute;
	top:10px;
	left: 50%; /* 화면 좌측에서 절반 너비에 위치 */
	transform: translate(-50%, -0%);
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	font-weight: 600;
}

.menu {
	position:absolute;
	left:350px;
	top:9px;
}

.menu_icon { 
	width:25px;
	height:25px;
	position:absolute;
	left:4px;
	top:4px;
}

.title_line { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:49px;
	border:0.5px solid rgba(191.23340249061584, 191.23340249061584, 191.23340249061584, 1);
}

.profile_img { 
	width:80px;
	height:80px;
	position:absolute;
	left:11px;
	top:63px;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius: 50px;
}

.total_distance_num { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:60px;
	height:22px;
	position:absolute;
	left:138px;
	top:77px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.total_distance { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:60px;
	height:23px;
	position:absolute;
	left:138px;
	top:98px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.follower_num { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:60px;
	height:23px;
	position:absolute;
	left:213px;
	top:77px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.follower { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:60px;
	height:23px;
	position:absolute;
	left:221px;
	top:98px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.following_num { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:60px;
	height:23px;
	position:absolute;
	left:298px;
	top:77px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.following { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:60px;
	height:23px;
	position:absolute;
	left:306px;
	top:98px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.user_name { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	position:absolute;
	left:11px;
	top:147px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.introduction { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:370px;
	height:23px;
	position:absolute;
	left:11px;
	top:172px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.profile_edit { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:180px;
	height:30px;
	position:absolute;
	left:11px;
	top:201px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.profile_edit_text { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:23px;
	position:absolute;
	left:62px;
	top:204px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.profile_share { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:180px;
	height:30px;
	position:absolute;
	left:200px;
	top:201px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.profile_share_text { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:23px;
	position:absolute;
	left:251px;
	top:204px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}


.TabMenu{
  background-color: #e7e7e7;
  color: rgb(124, 124, 124);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  /* margin-bottom: 7rem; */
  margin-top: 255px;
}


.submenu {
  display: flex;
  width: calc(100% / 2);
  padding: 10px;
  font-size: 15px;
  transition: 0.5s;
  text-align: center;
  padding-left: 77px;
	cursor: pointer;
  /* border-radius: 10px 10px 0px 0px; */
  /* border-top: 1px solid; */
}

.focused {
  background-color: rgb(255, 255, 255);
  color: #131313;
  border-bottom: 2px solid #131313;
	transition: border-bottom 0s ease;
}


.desc{
  text-align: center;
}

.carousel_right { 
	transform: rotate(180deg);
	width:30px;
	height:30px;
	position:absolute;
	right:20px;
	top:465px;
}

.carousel_right_icon { 
	width:24px;
	height:24px;
	position:relative;
	left:2px;
	top:6px;
}

.carousel_left { 
	width:30px;
	height:30px;
	position:absolute;
	left:20px;
	top:465px;
}

.carousel_left_icon { 
	width:24px;
	height:24px;
	position:relative;
	left:2px;
	top:6px;
}

.badge { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:23px;
	position:absolute;
	left:13px;
	top:712px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.badge_go { 
	transform: rotate(180deg);
	width:16px;
	height:16px;
	position:absolute;
	left:100px;
	top:716px;
}

.badge_go_icon { 
	width:15px;
	height:10px;
	position:absolute;
	left:1px;
	top:3px;
}

.badge_list { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:365px;
	height:90px;
	position:absolute;
	left:13px;
	top:750px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.badge1 {
	width:50px;
	height:50px;
	position:absolute;
	left:32px;
	top:20px;
	background-repeat:no-repeat;
	background-size:cover;
}

.badge2 { 
	width:50px;
	height:50px;
	position:absolute;
	left:115.66667175292969px;
	top:20px;
	background-repeat:no-repeat;
	background-size:cover;
}

.badge3 { 
	width:50px;
	height:50px;
	position:absolute;
	left:199.33334350585938px;
	top:20px;
	background-repeat:no-repeat;
	background-size:cover;
}

.badge4 { 
	width:50px;
	height:50px;
	position:absolute;
	left:283px;
	top:20px;
	background-repeat:no-repeat;
	background-size:cover;
}

.myjoingroup { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:120px;
	height:23px;
	position:absolute;
	left:13px;
	top:860px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.group_go { 
	transform: rotate(180deg);
	width:16px;
	height:16px;
	position:absolute;
	left:130px;
	top:866px;
}

.group_go_icon { 
	width:15px;
	height:10px;
	position:absolute;
	left:1px;
	top:3px;
}

.myjoingroup_list { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:365px;
	height:100px;
	position:absolute;
	left:13px;
	top:896px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.group1 { 
	width:90px;
	height:78px;
	position:absolute;
	left:26px;
	top:912px;
}

.group1_img { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.group1_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:98px;
	height:16px;
	position:absolute;
	top:62px;
	left: -4px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	font-weight: 600;
}

.group2 { 
	width:90px;
	height:78px;
	position:absolute;
	left:131px;
	top:912px;
}

.group2_img { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.group2_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:90px;
	height:16px;
	position:absolute;
	left:1px;
	top:62px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	font-weight: 600;
}

.group3 { 
	width:90px;
	height:78px;
	position:absolute;
	left:237px;
	top:912px;
}

.group3_img { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.group3_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:90px;
	height:16px;
	position:absolute;
	left:1px;
	top:62px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	font-weight: 600;
}

.navbar {
	position: fixed;
	bottom: 0px;
	box-shadow:0px 24px 48px #10182840;
	background-color:#ffffff;
	width:390px;
	height:80px;
	/* z-index: 999; */
}

.mp_my_home_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:28px;
	height:28px;
	position:absolute;
	left:32px;
	top:26px;
}

.map { 
	width:25px;
	height:25px;
	position:absolute;
	left:105.75px;
	top:27.5px;
}

.mp_my_map_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:21.8751163482666px;
	height:21.28816032409668px;
	position:absolute;
	left:1.562491774559021px;
	top:1.8563220500946045px;
}

.run { 
	width:26px;
	height:26px;
	position:absolute;
	left:179.5px;
	top:27px;
}

.mp_my_run_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:25px;
	height:25px;
	position:absolute;
	left:0.4799995422363281px;
	top:0.519989013671875px;
}

.group { 
	width:30px;
	height:30px;
	position:absolute;
	left:254.25px;
	top:25px;
}

.mp_my_group_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:28px;
	height:27px;
	position:absolute;
	left:-0.25px;
	top:1px;
}

.my { 
	width:25px;
	height:25px;
	position:absolute;
	left:333px;
	top:27.5px;
}

.mp_my_my_icon { 
	filter: invert(63%) sepia(6%) saturate(1742%) hue-rotate(167deg) brightness(95%) contrast(99%);
	width:23px;
	height:23px;
	position:absolute;
	left:0.1666717529296875px;
	top:2.166656494140625px;
}

.carousel_image{
	width:365px;
	height:345px;
}

.carousel { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:365px;
	height:345px;
	position:absolute;
	left:13px;
	top:339px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.mypage_postBox{
	top: 297px;
	position: absolute;	
	display: grid;
	grid-template-columns: 130px 130px 130px;
	/* grid-template-rows: 130px; */
	grid-gap: 0;
}


.mygraph button {
	margin-right: 0px; /* 버튼 사이 간격 조정 */
	padding: 5px 10px;
	border: none;
	background-color: #f0f0f0;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 130px;
	font-weight: 700;
	font-family: noto sans KR;
  }
  
  .mygraph button:last-child {
	margin-right: 0;
	
  }
  
  .mygraph button:hover {
	background-color: #d0d0d0;
  }
  

  .mypage_postBox {
	top: 297px;
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 130px);
	grid-template-rows: 130px;
	grid-gap: 0px; /* 필요한 경우 요소 간 간격 조절 */
  }
  
  .postItem {
	width: 130px;
	height: 130px;
	overflow: hidden;
  }
  
  .postItem img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .postItem .content_img {
	width: 100%;
	height: 100%;
  }
  