body{
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
	/* height: auto; */
}
.comment-section-container {
    background-color:rgba(255, 255, 255, 1);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
	width:390px;
	height:100vh;
    min-height: 1000px;
	position:relative;
    animation-name: slide-up;
    animation-duration: 0.2s; /* 애니메이션 지속 시간 */
    animation-timing-function: ease-out; /* 애니메이션 가속도 */
}
@keyframes slide-up  {
    from {
      transform: translateY(100%); /* 시작 지점: 왼쪽 위로 이동 */
    }
    to {
      transform: translateY(0); /* 종료 지점: 원래 위치로 이동 */
    }
}
.comment-title {
    position: absolute;
    left: 176px;
    top: 10px;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-weight: 800;
    color: #131313;
}
.comment-back-button {
    position: absolute;
    transform: rotate(-90deg);
    filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
    left: 25px;
    top: 16px;
    width: 23px;
    height: 23px;
}
.comment-section-divider {
    position: absolute;
    left: 0;
    top: 50px;
    width: 390px;
    height: 0;
    border: 1px solid #bfbfbf;
}
.comment-wrapper {
    position: relative;
    width: 390px;
    /* height: 58px; */
    /* display: flex; */
    /* align-items: center; */
    top: 57px;
    margin-bottom: -50px;

}



.comment-avatar {
    position: relative;
    left: 15px;
    top: 10px;
    border-radius: 500px;
    width: 45px;
    height: 45px;
}

.comment-username {
    position: relative;
    left: 70px;
    top: -35px;
    width: 112px;
    height: 18px;
    font-size: 12px;
    font-family: Noto Sans KR;
    font-weight: 700;
    color: #131313;
}

.comment-time {
    position: relative;
    left: 190px;
    top: -52px;
    width: 130px;
    height: 19px;
    font-size: 12px;
    font-family: Noto Sans KR;
    font-weight: 500;
    color: #828282;
}
.comment-delete-button{
    position: absolute;
    left: 360px;
    top: 15px;
    cursor: pointer;
    width: 17px;
    height: 17px;
}
.comment-content {
    position: relative;
    left: 70px;
    top: -70px;
    width:  300px;
    /* height: auto; */
    font-size: 12px;
    font-family: Noto Sans KR;
    font-weight: 500;
    color: #131313;
    z-index: 10;
    margin-top: 15px;
}
.comment-divider {
    position: relative;
    right: 200px;
    top: 20px;
    width: 390px;
    height: 0;
    border: 1px solid #bfbfbf;
}
.comment-input-wrapper {
    box-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.25);
    position: fixed;
    bottom: 0px;
    width: 389px;
    height: 80px;
    background-color: #fff;
    z-index: 999;
}
.comment-input-avatar {
    position: absolute;
    left: 18px;
    top: 18px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.comment-input-box {
    position: absolute;
    left: 82px;
    top: 18px;
    width: 280px;
    height: 45px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding-left: 11px;
}

.comment-input-box::placeholder{
    padding-left: 7px;
    font-family: Noto Sans KR;
    color: #828282;
}



