body{
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_background { 
	min-height: auto;
	height: 100vh;
	box-shadow: 0px 10px 15px #00000040;
	top: 0px;
	background-color:#ffffff;
	width:390px;
	position:relative;
	overflow-y: auto; /* 세로 스크롤 가능하게 함 */
	overflow-x: hidden;
}

.home_background::-webkit-scrollbar {
	display: none; /* 기본 스크롤 막대 숨기기 */
}

/* 가상 요소를 사용하여 스크롤 막대 대체하기 */
.home_background::after {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	width: 10px; /* 스크롤 막대 너비 조절 */
	height: 100%;
	background: linear-gradient(to right, transparent, #ffffff); /* 스크롤 막대 색상 설정 */
	z-index: 9999; /* 다른 요소 위로 표시 */
}

.content_box{
	background-color: #ffffff;
	width: 390px;
	height: 630px;
}


.topnav{
	position: fixed;
	top: 0px;
	z-index: 1;
	box-shadow:0px 4px 15px #00000040;
}

.homenav{
	background-color:white;
	width: 100%;
	height: 52px;
}

.active { 
	background-color:#ffffff;
	width:390px;
	height:112px;
	margin-top: -1px;
}

.home_title { 
	color:#131313;
	width:68px;
	height:25px;
	position:absolute;
	left:183px;
	top:10px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: 600;
}

.notification { 
	width:26px;
	height:26px;
	position:absolute;
	left:316px;
	top:13px;
}

.notification_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:23px;
	height:23px;
	position:absolute;
	left:3.247941255569458px;
	top:2.1666667461395264px;
}

.friendadd { 
	width:26px;
	height:23px;
	position:absolute;
	left:352px;
	top:12px;
}

.friendadd_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:25px;
	height:27px;
	position:absolute;
	left:1.0832629203796387px;
	top:1px;
}

.homenav_line { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:100%;
	height:0px;
	position:absolute;
	left:0px;
	top:50px;
	border:0.1px solid #bfbfbf;
}

.my_active { 
	color:#131313;
	width:126px;
	height:15px;
	position:absolute;
	left:10px;
	top:60px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	font-weight: 600;
}

.detail { 
	color:#7CA0C1;
	position:absolute;
	left:325px;
	top:60px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	font-weight: 600;
}

.art { 
	color:#898989;
	position:absolute;
	left:12px;
	top:95px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	font-weight: 600;
}

.art_num { 
	color:#131313;
	width:44px;
	height:23px;
	position:absolute;
	left:12px;
	top:124px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	font-weight: 600;
}

.home_line1 { 
	margin-top: 30px;
	margin-left: -30px;
	transform: rotate(90deg);
	width:55px;
	height:0px;
	position:absolute;
	left:99.49991607666016px;
	top:90.99545288085938px;
	border:0.5px solid #BFBFBF;
}

.active_distance { 
	color:#898989;
	position:absolute;
	left:117px;
	top:95px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	font-weight: 600;
}

.active_distance_num { 
	color:#131313;
	width:75px;
	height:23px;
	position:absolute;
	left:117px;
	top:125px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	font-weight: 600;
}

.home_line2 { 
	margin-top: 30px;
	margin-left: -30px;
	transform: rotate(90deg);
	width:55px;
	height:0px;
	position:absolute;
	left:201.49990844726562px;
	top:89.99545288085938px;
	border:0.5px solid #BFBFBF;
}

.active_time { 
	color:#898989;
	position:absolute;
	left:219px;
	top:95px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	font-weight: 600;
}

.active_time_num { 
	color:#131313;
	width:75px;
	height:23px;
	position:absolute;
	left:219px;
	top:125px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	font-weight: 600;
}

.home_profile_img { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:relative;
	left:11px;
	top:175px;
	background-repeat:no-repeat;
	background-size:cover;
}

.name { 
	color:#131313;
	font-weight: 600;
	width:77px;
	height:19px;
	position:relative;
	left:53px;
	top:136px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}

.home_place { 
	color:#515151;
	width:54px;
	height:16px;
	position:relative;
	left:53px;
	top:135px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}

.dotmenu { 
	width:25px;
	height:25px;
	position:relative;
	left:357px;
	top:104px;
}

.dotmenu_icon { 
	width:24px;
	height:24px;
	position:relative;
	top:1px;
	cursor: pointer;
}

.main_content_box {
	position: relative; /* 이 부분이 중요 */
	margin-bottom: -70px;
}

.dropdown_menu {
  position: absolute; /* 부모 요소 기준으로 위치 지정 */
  top: 219px; /* dotmenu 아이콘의 바로 아래에 위치하도록 설정 */
  right: 0; /* 오른쪽 정렬 */
  background-color: white; /* 배경색 설정 */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* 드롭다운 메뉴에 그림자 효과 추가 */
  z-index: 1; /* 다른 요소들 위에 나타나도록 설정 */
	font-size: 14px;
}

.dropdown_menu > div {
  padding: 8px 16px; /* 패딩 설정 */
  border-bottom: 1px solid #dddddd; /* 하단 테두리 추가 */
}

.dropdown_menu > div:last-child {
  border-bottom: none; /* 마지막 요소의 하단 테두리 제거 */
}

.dropdown_menu > div:hover {
  background-color: #f2f2f2; /* 마우스를 올렸을 때의 배경색 */
  cursor: pointer; /* 마우스 커서를 포인터 모양으로 변경 */
}

.dropdown_icon{
	margin-left: -4px;
	padding-right: 6px;
	padding-top: 3px;
}

.menu_title{
	padding-top: 2px;
}

.dropdown_icon2{
	filter: invert(36%) sepia(33%) saturate(766%) hue-rotate(314deg) brightness(117%) contrast(109%);
	margin-left: -4px;
	padding-right: 6px;
	padding-top: 3px;
}

.menu_title2{
	padding-top: 2px;
	color: #ca5959;
}

.content_img { 
	width:390px;
	height:390px;
	position:relative;
	left:0px;
	top:120px;
	background-repeat:no-repeat;
	background-size:cover;
}

.comment_name { 
	color:#131313;
	font-weight: 600;
	width:77px;
	height:21px;
	position:relative;
	left:10px;
	top:175px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}

.contents { 
	color:#131313;
	position:relative;
	width:370px;
	left:10px;	
	top:175px;
	font-family:Noto Sans KR;
	font-size:13px;
	letter-spacing:0;
}

.comment_num { 
	color:#787878;
	height:21px;
	position:relative;
	left:10px;
	top:176px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}

.date { 
	color:#787878;
	position:relative;
	left:10px;
	top:177px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}

.like { 
	color:#131313;
	position:relative;
	left:10px;
	top:40px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	font-weight: 600;
}

.home_distance { 
	color:#626262;
	position:relative;
	left:215px;
	top:20px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}

.time { 
	color:#626262;
	position:relative;
	left:303px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}

.heart { 
	width:27px;
	height:25px;
	position:relative;
	left:8px;
	top:-12px;
}

.heart_icon { 
	/* filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%); */
	height:26px;
	position:relative;
	left:2px;
	top:2.777777671813965px;
}

.comment { 
	transform: rotate(180deg);
	width:24px;
	height:24px;
	position:relative;
	left:73px;
	top:-36px;
}

.comment_icon { 
	/* filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%); */
	width:20px;
	height:20px;
	position:relative;
	left:30px;
	transform:rotate(180deg);
}

/* .save { 
	width:24px;
	height:24px;
	position:relative;
	left:357px;
	top:-100px;
} */

/* .save_icon { 
	width:24px;
	height:24px;
	position:relative;
	left:1.0800000429153442px;
	top:2.0399999618530273px;
} */

.share { 
	width:24px;
	height:24px;
	position:relative;
	left:90px;
	top:-61px;
}

.share_icon { 
	/* filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%); */
	width:24px;
	height:24px;
	position:relative;
	left:-10px;
	top:2.6666667461395264px;
}

.navbar {
	position: fixed;
	bottom: 0px;
	box-shadow:0px 24px 48px #10182840;
	background-color:#ffffff;
	width:390px;
	height:80px;
}

.home_home_icon { 
	filter: invert(63%) sepia(6%) saturate(1742%) hue-rotate(167deg) brightness(95%) contrast(99%);
	width:28px;
	height:28px;
	position:absolute;
	left:32px;
	top:26px;
}

.map { 
	width:25px;
	height:25px;
	position:absolute;
	left:105.75px;
	top:27.5px;
}

.home_map_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:21.8751163482666px;
	height:21.28816032409668px;
	position:absolute;
	left:1.562491774559021px;
	top:1.8563220500946045px;
}

.run { 
	width:26px;
	height:26px;
	position:absolute;
	left:179.5px;
	top:27px;
}

.home_run_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:25px;
	height:25px;
	position:absolute;
	left:0.4799995422363281px;
	top:0.519989013671875px;
}

.group { 
	width:30px;
	height:30px;
	position:absolute;
	left:254.25px;
	top:25px;
}

.home_group_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:28px;
	height:27px;
	position:absolute;
	left:-0.25px;
	top:1px;
}

.my { 
	width:25px;
	height:25px;
	position:absolute;
	left:333px;
	top:27.5px;
}

.home_my_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:23px;
	height:23px;
	position:absolute;
	left:0.1666717529296875px;
	top:2.166656494140625px;
}

.write { 
	width:21px;
	height:21px;
	position:absolute;
	left:13px;
	top:14px;
	cursor: pointer;
}

.write_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:21.00055694580078px;
	height:21.00055694580078px;
	position:absolute;
	left:0.0007024358492344618px;
	top:-0.0013672076165676117px;
}


.write_dropdown_menu {
  position: absolute; /* 부모 요소 기준으로 위치 지정 */
  top: 52px; /* dotmenu 아이콘의 바로 아래에 위치하도록 설정 */
  left: 0; /* 오른쪽 정렬 */
  background-color: white; /* 배경색 설정 */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* 드롭다운 메뉴에 그림자 효과 추가 */
  z-index: 1; /* 다른 요소들 위에 나타나도록 설정 */
	font-size: 15px;
	font-weight: 600;
}

.write_dropdown_menu > div {
  padding: 10px 30px; /* 패딩 설정 */
  border-bottom: 1px solid #dddddd; /* 하단 테두리 추가 */
}

.write_dropdown_menu > div:last-child {
  border-bottom: none; /* 마지막 요소의 하단 테두리 제거 */
}

.write_dropdown_menu > div:hover {
  background-color: #f2f2f2; /* 마우스를 올렸을 때의 배경색 */
  cursor: pointer; /* 마우스 커서를 포인터 모양으로 변경 */
}

.write_dropdown_icon{
	margin-left: -10px;
	padding-right: 10px;
	padding-top: 3px;
}

.write_menu_title{
	padding-top: 2px;
}


