.write-map-page { 
	min-height: 700px;
	box-shadow: 0px 10px 15px #00000040;
	top: 0px;
	background-color:#ffffff;
	width:390px;
	height:100vh;
	position:relative;
  padding: 0px;
}

.write-map-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  background-color: white;
}

.write_map_back { 
	width:25px;
	height:25px;
	position:absolute;
	left:6px;
	top:10px;
}
.write_map_back_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:25px;
	height:25px;
	position:absolute;
	left:2.098771095275879px;
	top:5px;
}

.write_map_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	height:29px;
	position:absolute;
	left:155px;
	top:10px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: 600;
}

.write_map_add { 
	background-color: transparent;
	border: none;
	color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	position:absolute;
	padding: 0;
	left:336px;
	top:14px;
	width: 60px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:16px;
	letter-spacing:2px;
	font-weight: 600;
	cursor: pointer;
}


.writeMap_Picture_add_box{
	position: absolute;
	top: 100px; 
	left: 71.7px; 
}

.writeMap_picture_add { 
	background-color:rgba(239.04590249061584, 239.04590249061584, 239.04590249061584, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	width:200px;
	height:200px;
	left:23px;
	top:15.5px;
	display: none;
}

.write_map_img{
	width: 340px;
	height: 340px;
	background-color: beige;
	position: absolute;
	left: -50px;
	top: -40px;
}
.writeMap_image_preview {
	position: absolute;
	left: 22px;
	width: 200px; /* 또는 원하는 크기 */
	height: 200px; /* 또는 원하는 크기 */
}

.writeMap_text { 
	color:rgb(0, 0, 0);
	background-color: #f8f8f8;
	width:320px;
	height:200px;
	position:absolute;
	left:22px;
	top:420px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
  	resize: none; /* 입력란 크기 조절 비활성화 */
 	overflow-y: auto; /* 세로 스크롤바 표시 */
  	max-height: 450px; /* 최대 높이 설정 */
  	word-wrap: break-word; /* 단어 단위로 줄 바꿈 */
}
.writeMap_text::placeholder {
    color: rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
}
