body{
	background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.e86_8 { 
    overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
	width:390px;
	min-height: 800px;
	height:100vh;
	position:relative;
}

.e86_9 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:236px;
	height:58px;
	position:absolute;
	left:38px;
	top:72px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:24px;
    font-weight: 900;
	letter-spacing:0;
}
.inputUserCP { 
	background-color:rgba(247.35000729560852, 247.35000729560852, 247.35000729560852, 1);
	width:303px;
	height:53px;
	position:absolute;
	left:37px;
	top:225px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-left: 10px;
	border: none;
}
.inputUserCP::placeholder {
    padding-top: 5px;
    /* placeholder 내부 글자의 폰트 설정 */
    font-family: 'Noto Sans KR'; /* 원하는 폰트로 변경 */
    font-size: 16px; /* 원하는 크기로 변경 */
    font-weight: 300; /* 원하는 두께로 변경 */
    color: #828282; /* 원하는 색상으로 변경 */
}

.inputUserName { 
	background-color:rgba(247.35000729560852, 247.35000729560852, 247.35000729560852, 1);
	width:303px;
	height:53px;
	position:absolute;
	left:37px;
	top:160px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-left: 10px;
	border: none;
}
.inputUserName::placeholder {
    padding-top: 5px;
    /* placeholder 내부 글자의 폰트 설정 */
    font-family: 'Noto Sans KR'; /* 원하는 폰트로 변경 */
    font-size: 16px; /* 원하는 크기로 변경 */
    font-weight: 300; /* 원하는 두께로 변경 */
    color: #828282; /* 원하는 색상으로 변경 */
}

.inputUserNickName { 
	background-color:rgba(247.35000729560852, 247.35000729560852, 247.35000729560852, 1);
	width:220px;
	height:53px;
	position:absolute;
	left:37px;
	top:338px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-left: 10px;
	border: none;
}
.inputUserNickName::placeholder {
    padding-top: 5px;
    /* placeholder 내부 글자의 폰트 설정 */
    font-family: 'Noto Sans KR'; /* 원하는 폰트로 변경 */
    font-size: 16px; /* 원하는 크기로 변경 */
    font-weight: 300; /* 원하는 두께로 변경 */
    color: #828282; /* 원하는 색상으로 변경 */
}

.next3 { 
	background-color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	color: white;
	font-size: 24px;
	font-weight: 700;
	font-family: Noto Sans KR;
	letter-spacing: 3px;
	width:323px;
	height:53px;
	position:absolute;
	left:34px;
	top:430px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border: none;
	cursor: pointer;
}

.e86_20 { 
	background: none;
	border: none;
	cursor: pointer;
	width:25px;
	height:25px;
	position:absolute;
	left: 128px;
	top:286px;

}
.e86_21 { 
	width:25px;
	height:25px;
	position:absolute;
	left:3.7px;
	top: 3.7px;
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
}


.cookiewalk_logo { 
	color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	width:123px;
	height:25px;
	position:absolute;
	left:40px;
	top:20px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
    font-weight: 900;
	letter-spacing:0;
}
.e86_35 { 
    width:25px;
	height:25px;
	position:relative;
	left:10px;
	top:20px;
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
}
.e86_37 { 
	background: none;
	border: none;
	cursor: pointer;
	width:25px;
	height:25px;
	position:absolute;
	left: 40px;
	top:286px;
}
.e86_38 { 
	width:25px;
	height:25px;
	position:absolute;
	left:2.8px;
	top: 2.8px;
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
}
.e86_39 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:29px;
	position:absolute;
	left:69px;
	top:288px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e86_40 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:29px;
	position:absolute;
	left:158px;
	top:288px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.UserNick_double_check { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	color: white;
	width:70px;
	height: 53px;;
	position:absolute;
	left:281px;
	top:340px;
	font-weight: 700;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border: none;
	cursor: pointer;
	
}

