body{
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group_background { 
	min-height: 850px;
	box-shadow: 0px 10px 15px #00000040;
	top: 0px;
	background-color:#ffffff;
	width:390px;
	height:100%;
	position:relative;
	padding-bottom: 50px;
}

.groupnav{
	position: fixed;
	background-color: #ffffff;
	width: 390px;
	height: 51px;
	z-index: 1;
}

.group_title { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:41px;
	height:25px;
	position:absolute;
	left:174px;
	top:10px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: 600;
}

.group_line { 
	transform: rotate(-2.4848166388360215e-17deg);
	width:100%;
	height:0px;
	position:absolute;
	left:0px;
	top:50px;
	border:0.1px solid #bfbfbf;
}

.searchbar { 
	background-color:rgba(239.04590249061584, 239.04590249061584, 239.04590249061584, 1);
	width:355px;
	height:45px;
	position:absolute;
	left:12px;
	top:59px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-left: 10px;
	border: none;
	outline: none;
}

.search { 
	width:30px;
	height:30px;
	position:absolute;
	left:336px;
	top:68px;
}

.search_icon { 
	width:23.630462646484375px;
	height:23.621051788330078px;
	position:absolute;
	left:3px;
	top:1.9102697372436523px;
}

.region_select_box { 
	background-color:rgba(239.04590249061584, 239.04590249061584, 239.04590249061584, 1);
	width:150px;
	height:35px;
	position:absolute;
	left:10px;
	top:115px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.region_select { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:116px;
	height:25px;
	position:absolute;
	left:22px;
	top:122px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	font-weight: 600;
}

.region { 
	transform: rotate(270deg);
	width:16px;
	height:16px;
	position:absolute;
	left:135px;
	top:128px;
}

.region_icon { 
	width:20px;
	height:16px;
	position:absolute;
	left:1.3432135581970215px;
	top:3.3432133197784424px;
}

.sort_box { 
	background-color:rgba(239.04590249061584, 239.04590249061584, 239.04590249061584, 1);
	width:79px;
	height:25px;
	position:absolute;
	left:301px;
	top:115px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.sort_select { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	position:absolute;
	left:315px;
	top:118px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	font-weight: 600;
}

.sort { 
	transform: rotate(270deg);
	width:14px;
	height:14px;
	position:absolute;
	left:355px;
	top:122px;
}

.sort_icon { 
	width:13px;
	height:13px;
	position:absolute;
	left:1.175311803817749px;
	top:2.925311803817749px;
}

.group_img { 
	width:180px;
	height:115px;
	position:absolute;
	left:10px;
	top:161px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(./images/group1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.person_box { 
	background-color:rgba(221.3375759124756, 221.3375759124756, 221.3375759124756, 0.8999999761581421);
	width:51px;
	height:18px;
	position:absolute;
	left:15px;
	top:165px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.person { 
	width:12px;
	height:12px;
	position:absolute;
	left:20px;
	top:168px;
}

.person_icon { 
	width:11px;
	height:11px;
	position:absolute;
	left:1.1248658895492554px;
	top:0.75px;
}

.current_people { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:8px;
	height:14px;
	position:absolute;
	left:38px;
	top:167px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	font-weight: 600;
}

.division { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:6px;
	height:11px;
	position:absolute;
	left:46.7px;
	top:167.9px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
	font-weight: 600;
}

.total_people { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:8px;
	height:14px;
	position:absolute;
	left:53px;
	top:167px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	font-weight: 600;
}

.dday_box { 
	background-color:rgba(230.19170880317688, 199.66936022043228, 199.66936022043228, 0.8999999761581421);
	width:40px;
	height:18px;
	position:absolute;
	left:145px;
	top:165px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.dday { 
	color:rgba(220.45214742422104, 42.72213354706764, 42.72213354706764, 1);
	width:36px;
	position:absolute;
	left:147px;
	top:165px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	font-weight: 600;
}

.group_name { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:116px;
	height:25px;
	position:absolute;
	left:11px;
	top:278px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	font-weight: 600;
}

.place { 
	width:18px;
	height:17px;
	position:absolute;
	left:10px;
	top:303px;
}

.place_icon { 
	width:14px;
	height:15px;
	position:absolute;
	left:0.14996337890625px;
	top:1.4166643619537354px;
}

.place_name { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:100px;
	position:absolute;
	left:25px;
	top:302px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	font-weight: 600;
}

.distance { 
	width:20.000001907348633px;
	height:20.000001907348633px;
	position:absolute;
	left:130px;
	top:300px;
}

.distance_icon { 
	width:15px;
	height:14px;
	position:absolute;
	left:1.6666667461395264px;
	top:5.191667079925537px;
}

.distance_num { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:41px;
	height:14px;
	position:absolute;
	left:151px;
	top:302px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	font-weight: 600;
}

.hashtag_box1 { 
	background-color:rgba(223.74900251626968, 235.35367101430893, 246.12920880317688, 1);
	width:40px;
	height:17px;
	position:absolute;
	left:11px;
	top:325px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.hashtag1 { 
	color:rgba(101.80632591247559, 101.80632591247559, 101.80632591247559, 1);
	width: 35px;
	position:absolute;
	left:13px;
	top:326px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	font-weight: 600;
}

.hashtag_box2 { 
	background-color:rgba(223.74900251626968, 235.35367101430893, 246.12920880317688, 1);
	width:47px;
	height:17px;
	position:absolute;
	left:57px;
	top:325px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.hashtag2 { 
	color:rgba(101.80632591247559, 101.80632591247559, 101.80632591247559, 1);
	width:40px;
	height:16px;
	position:absolute;
	left:61px;
	top:326px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	font-weight: 600;
}

.hashtag_box3 { 
	background-color:rgba(223.74900251626968, 235.35367101430893, 246.12920880317688, 1);
	width:47px;
	height:17px;
	position:absolute;
	left:110px;
	top:325px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.hashtag3 { 
	color:rgba(101.80632591247559, 101.80632591247559, 101.80632591247559, 1);
	width:40px;
	height:16px;
	position:absolute;
	left:114px;
	top:326px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	font-weight: 600;
}

.navbar {
	position: fixed;
	bottom: 0px;
	box-shadow:0px 24px 48px #10182840;
	background-color:#ffffff;
	width:390px;
	height:80px;
}

.group_home_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:28px;
	height:28px;
	position:absolute;
	left:32px;
	top:26px;
}

.map { 
	width:25px;
	height:25px;
	position:absolute;
	left:105.75px;
	top:27.5px;
}

.group_map_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:21.8751163482666px;
	height:21.28816032409668px;
	position:absolute;
	left:1.562491774559021px;
	top:1.8563220500946045px;
}

.run { 
	width:26px;
	height:26px;
	position:absolute;
	left:179.5px;
	top:27px;
}

.group_run_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:25px;
	height:25px;
	position:absolute;
	left:0.4799995422363281px;
	top:0.519989013671875px;
}

.group { 
	width:30px;
	height:30px;
	position:absolute;
	left:254.25px;
	top:25px;
}

.group_group_icon { 
	filter: invert(63%) sepia(6%) saturate(1742%) hue-rotate(167deg) brightness(95%) contrast(99%);
	width:28px;
	height:27px;
	position:absolute;
	left:-0.25px;
	top:1px;
}

.my { 
	width:25px;
	height:25px;
	position:absolute;
	left:333px;
	top:27.5px;
}

.group_my_icon { 
	filter: invert(59%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(92%) contrast(88%);
	width:23px;
	height:23px;
	position:absolute;
	left:0.1666717529296875px;
	top:2.166656494140625px;
}








/* .e15_382 { 
	width:180px;
	height:115px;
	position:absolute;
	left:200px;
	top:161px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(./images/group2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e15_388 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:85px;
	height:18px;
	position:absolute;
	left:26px;
	top:302px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e15_403 { 
	background-color:rgba(223.74900251626968, 235.35367101430893, 246.12920880317688, 1);
	width:40px;
	height:17px;
	position:absolute;
	left:201px;
	top:325px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e15_404 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:116px;
	height:25px;
	position:absolute;
	left:201px;
	top:278px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e15_406 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:96px;
	height:14px;
	position:absolute;
	left:215px;
	top:302px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e15_407 { 
	color:rgba(101.80632591247559, 101.80632591247559, 101.80632591247559, 1);
	width:31px;
	height:16px;
	position:absolute;
	left:208px;
	top:326px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e15_408 { 
	background-color:rgba(223.74900251626968, 235.35367101430893, 246.12920880317688, 1);
	width:53px;
	height:17px;
	position:absolute;
	left:247px;
	top:325px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e15_409 { 
	color:rgba(101.80632591247559, 101.80632591247559, 101.80632591247559, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:253px;
	top:326px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e15_410 { 
	background-color:rgba(223.74900251626968, 235.35367101430893, 246.12920880317688, 1);
	width:39px;
	height:17px;
	position:absolute;
	left:306px;
	top:325px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e15_411 { 
	color:rgba(101.80632591247559, 101.80632591247559, 101.80632591247559, 1);
	width:25px;
	height:16px;
	position:absolute;
	left:312px;
	top:326px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e15_412 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:41px;
	height:14px;
	position:absolute;
	left:342px;
	top:300px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e15_413 { 
	width:18px;
	height:17px;
	position:absolute;
	left:201px;
	top:303px;
}
.e15_414 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.500000953674316px;
	height:14.166666984558105px;
	position:absolute;
	left:0.14996337890625px;
	top:1.4166643619537354px;
}
.e15_415 { 
	transform: rotate(180deg);
	width:20.000001907348633px;
	height:20.000001907348633px;
	position:absolute;
	left:339px;
	top:300px;
}
.e15_416 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.66666603088379px;
	height:8.975001335144043px;
	position:absolute;
	left:1.6666667461395264px;
	top:5.191667079925537px;
}
.e132_2 { 
	background-color:rgba(221.3375759124756, 221.3375759124756, 221.3375759124756, 0.8999999761581421);
	width:51px;
	height:18px;
	position:absolute;
	left:205px;
	top:165px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e132_3 { 
	background-color:rgba(230.19170880317688, 199.66936022043228, 199.66936022043228, 0.8999999761581421);
	width:40px;
	height:18px;
	position:absolute;
	left:335px;
	top:165px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e132_4 { 
	width:12px;
	height:12px;
	position:absolute;
	left:209px;
	top:168px;
}
.e132_5 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.75026798248291px;
	height:10.50006103515625px;
	position:absolute;
	left:1.1248658895492554px;
	top:0.75px;
}
.e132_6 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:8px;
	height:14px;
	position:absolute;
	left:228px;
	top:167px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e132_7 { 
	color:rgba(220.45214742422104, 42.72213354706764, 42.72213354706764, 1);
	width:31px;
	height:14px;
	position:absolute;
	left:341px;
	top:165px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e132_8 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:6px;
	height:11px;
	position:absolute;
	left:237px;
	top:168px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}
.e132_9 { 
	color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:8px;
	height:14px;
	position:absolute;
	left:243px;
	top:167px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e15_340 { 
	box-shadow:0px 24px 48px rgba(15.959998592734337, 23.62182006239891, 40.040005668997765, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:80px;
	position:absolute;
	left:0px;
	top:764px;
}
.e15_341 { 
	background-color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:32px;
	top:27.5px;
}
.e15_342 { 
	width:25px;
	height:25px;
	position:absolute;
	left:105.75px;
	top:27.5px;
}
.e15_343 { 
	background-color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:21.8751163482666px;
	height:21.28816032409668px;
	position:absolute;
	left:1.562491774559021px;
	top:1.8563220500946045px;
}
.e15_344 { 
	width:26px;
	height:26px;
	position:absolute;
	left:179.5px;
	top:27px;
}
.e15_345 { 
	background-color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0.4799995422363281px;
	top:0.519989013671875px;
}
.e15_347 { 
	width:30px;
	height:30px;
	position:absolute;
	left:254.25px;
	top:25px;
}
.e15_348 { 
	background-color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	width:30px;
	height:20px;
	position:absolute;
	left:-0.25px;
	top:6px;
}
.e15_349 { 
	width:25px;
	height:25px;
	position:absolute;
	left:333px;
	top:27.5px;
}
.e15_350 { 
	background-color:rgba(137.2229638695717, 137.2229638695717, 137.2229638695717, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:0.1666717529296875px;
	top:2.166656494140625px;
} */