body{
	background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.signup4_container { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
	width:390px;
	min-height: 800px;
	height:100vh;
	position:relative;
}
.cookiewalk_logo { 
	color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	width:123px;
	height:25px;
	position:absolute;
	left:40px;
	top:21px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	font-weight: 900;
	letter-spacing:0;
}
.e83_66 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:276px;
	height:31px;
	position:absolute;
	left:40px;
	top:72px;
	font-family:Noto Sans KR;
	text-align:left;
    font-weight: 900;
	font-size:24px;
	letter-spacing:0;
}

.cookielogo{
    position: relative;
    left: 100px;
    top: 150px;
    width: 190px;
    height: 280px;
}

.e83_86 { 
	color:rgba(125.36170274019241, 124.0036328136921, 124.0036328136921, 1);
	width:337px;
	height:31px;
	position:absolute;
	left:27px;
	top:490px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:24px;
    font-weight: 700;
	letter-spacing:0;
}
.e83_68 { 
    background-color:rgba(123.85281890630722, 159.70904767513275, 193.0042138695717, 1);
	color: white;
	font-size: 24px;
	font-weight: 700;
	font-family: Noto Sans KR;
	letter-spacing: 3px;
	width:323px;
	height:53px;
	position:absolute;
	left:34px;
	top:600px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border: none;
	cursor: pointer;
}


.e83_85 { 
	color:rgba(151, 147, 147, 0.9);
	width:239px;
	height:22px;
	position:absolute;
	left:78px;
	top:550px;
	font-family:Noto Sans KR;
    font-weight: 700;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
